# Copyright (c) 2020 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

####################################################################################################
# URP Server                                                                                       #
#--------------------------------------------------------------------------------------------------#
# Following section configures server where URP's REST API is exposed                              #
####################################################################################################
Host: odimra.local.com
Port: 45003

PKIRootCACertificatePath: "/etc/plugincert/rootCA.crt"
PKIPrivateKeyPath: "/etc/plugincert/odimra_server.key"
PKICertificatePath: "/etc/plugincert/odimra_server.crt"

TLSConf:
  ### Supported TLS versions:
  # VersionTLS10 = 0x0301
  #	VersionTLS11 = 0x0302
  #	VersionTLS12 = 0x0303
  #	VersionTLS13 = 0x0304
  ###########################
  MinVersion: 0x0303
  MaxVersion: 0x0303
  ### Cipher Suites - Taken from https://www.iana.org/assignments/tls-parameters/tls-parameters.xml
  ### TLS 1.0 - 1.2 cipher suites.
  # TLS_RSA_WITH_RC4_128_SHA                uint16 = 0x0005
  # TLS_RSA_WITH_3DES_EDE_CBC_SHA           uint16 = 0x000a
  # TLS_RSA_WITH_AES_128_CBC_SHA            uint16 = 0x002f
  # TLS_RSA_WITH_AES_256_CBC_SHA            uint16 = 0x0035
  # TLS_RSA_WITH_AES_128_CBC_SHA256         uint16 = 0x003c
  # TLS_RSA_WITH_AES_128_GCM_SHA256         uint16 = 0x009c
  # TLS_RSA_WITH_AES_256_GCM_SHA384         uint16 = 0x009d
  # TLS_ECDHE_ECDSA_WITH_RC4_128_SHA        uint16 = 0xc007
  # TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA    uint16 = 0xc009
  # TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA    uint16 = 0xc00a
  # TLS_ECDHE_RSA_WITH_RC4_128_SHA          uint16 = 0xc011
  # TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA     uint16 = 0xc012
  # TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA      uint16 = 0xc013
  # TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA      uint16 = 0xc014
  # TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256 uint16 = 0xc023
  # TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256   uint16 = 0xc027
  # TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256   uint16 = 0xc02f
  # TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 uint16 = 0xc02b
  # TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384   uint16 = 0xc030
  # TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 uint16 = 0xc02c
  # TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305    uint16 = 0xcca8
  # TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305  uint16 = 0xcca9
  ### TLS 1.3 cipher suites.
  # TLS_AES_128_GCM_SHA256       uint16 = 0x1301
  # TLS_AES_256_GCM_SHA384       uint16 = 0x1302
  # TLS_CHACHA20_POLY1305_SHA256 uint16 = 0x1303
  PreferredCipherSuites:
    - 0x009c #TLS_RSA_WITH_AES_128_GCM_SHA256
    - 0x009d #TLS_RSA_WITH_AES_256_GCM_SHA384
    - 0xc02f #TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    - 0xc030 #TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - 0xc02b #TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - 0xc02c #TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384

####################################################################################################
#  Basic Authentication                                                                            #
####################################################################################################
UserName: admin
Password: O01bKrP7Tzs7YoO3YvQt4pRa2J_R6HI34ZfP4MxbqNIYAVQVt2ewGXmhjvBfzMifM7bHFccXKGmdHvj3hY44Hw==

####################################################################################################
# REDFISH                                                                                          #
####################################################################################################
RootServiceUUID: 99999999-9999-9999-9999-999999999999           # exposed on plugin's service root
FirmwareVersion: v1.0.0                                         # exposed on plugin's manager

####################################################################################################
# Address of ODIM's NB interface                                                                   #
####################################################################################################
OdimNBUrl: https://odimra.local.com:45000

####################################################################################################
# REDIS/Sentinel Configuration                                                                              #
####################################################################################################
# If you are running raw Redis, stay with 'SentinelMasterName' commented, otherwise
# uncomment it and set proper Sentinel master name.
# Uncommented 'SentinelMasterName' property, forces URP to initialize failover redis client which
# will work only if your Redis has been configured with Sentinel support.
#
# SentinelMasterName: mymaster
#
RedisAddress: odimra.local.com:6380

####################################################################################################
# Logging                                                                                          #
####################################################################################################
LogLevel: debug
