{
	"bootstrap_expect": 1,
	"client_addr": "0.0.0.0",
	"data_dir": "/consul/data",
	"domain": "consul",
	"enable_script_checks": true,
	"dns_config": {
		"enable_truncate": true,
		"only_passing": true
	},
	"enable_syslog": false,
	"node_name": "ConsulServer1",
	"leave_on_terminate": true,
	"log_level": "INFO",
	"rejoin_after_leave": true,
	"server": true,
	"ui": true
}

