---
- name: Include user defined configurations
  include_vars: "files/odimra_config_values.yaml"

- name: Get the current user
  local_action: command whoami
  become: false
  register: get_user

- name: Set current_user fact
  set_fact:
    current_user: "{{ get_user.stdout }}"

- name: Check if ODIMRA image path exists
  stat:
    path: "{{ odimraImagePath }}"
  register: odimra_file_details
  delegate_to: localhost
  when: odimraImagePath is defined

- name: Copy ODIMRA Images
  copy:
    src: "{{ item }}"
    dest: "{{ docker_images_path }}"
    owner: "{{ current_user }}"
    group: "{{ current_user }}"
    mode: 0640
  loop: "{{ files }}"
  vars:
    files:
      - "{{ odimraImagePath }}/"
  when: odimraImagePath is defined and odimra_file_details.stat.exists and odimra_file_details.stat.isdir == true

- name: Load ODIMRA Images
  command: "{{ docker_bin_path }} load -i {{ docker_images_path }}/{{ item.key }}.tar"
  loop: "{{ odim_docker_images | dict2items }}"
  when: odimraImagePath is defined and odimra_file_details.stat.exists and odimra_file_details.stat.isdir == true

- name: Get list of plugins under plugin helm charts path
  find:
    paths: "{{ odimPluginPath }}"
    file_type: "directory"
  register: plugin_packages
  delegate_to: localhost
  when: odimPluginPath is defined

- name: Copy plugin package files into deployment host
  copy:
    src: "{{ item.path }}"
    dest: "{{ helm_charts_path }}/"
    owner: "{{ current_user }}"
    group: "{{ current_user }}"
    mode: 0750
  loop: "{{ plugin_packages.files }}"
 
- name: Load Plugin Image
  shell: "{{ docker_bin_path }} load -i {{ helm_charts_path }}/{{ item.path.split('/')[-1] }}/{{ item.path.split('/')[-1] }}.tar"
  loop: "{{ plugin_packages.files }}"
  when: odimPluginPath is defined
