apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: {{ .Values.odimra.namespace }}
  labels:
    app: api
spec:
  {{ if eq .Values.nwPreference "dualStack" }}
  ipFamilies:
  - IPv4
  - IPv6
  ipFamilyPolicy: PreferDualStack
  {{ end }}
  ports:
  - nodePort: {{ .Values.odimra.apiNodePort }}
    port: 45000
  selector:
    app: api
  type: NodePort
