#!/bin/bash
 
#(C) Copyright [2020] Hewlett Packard Enterprise Development LP
#
#Licensed under the Apache License, Version 2.0 (the "License"); you may
#not use this file except in compliance with the License. You may obtain
#a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#License for the specific language governing permissions and limitations
#under the License.
 
## type: "INSTANCE" or "GROUP"
declare TYPE
## name of the instance or group
declare NAME
## transitioned to state, "MASTER", "BACKUP" or "FAULT"
declare STATE
## priority of the instance as set in conf file
declare PRIO
 
## default logile to append all echo output to
LOGFILE=/opt/keepalived/logs/action_script.log
exec >> $LOGFILE 2>&1
 
eval_cmd_exec()
{
        if [[ $# -lt 2 ]]; then
                echo "[$(date)] -- ERROR -- eval_cmd_exec syntax error $2"
                exit 1
        fi
        if [[ $1 -ne 0 ]]; then
                echo "[$(date)] -- ERROR -- $2"
                syslog "$2"
                exit 1
        fi
}
 
syslog()
{
        /usr/bin/logger -i -p local3.crit -t keepalived "$1"
}
 
start_nginx()
{
        /bin/systemctl restart nginx
        eval_cmd_exec $? "state:${STATE}, failed to start nginx service"
        echo "[$(date)] -- INFO  -- state:${STATE}, nginx service started"
}
 
stop_nginx()
{
        /bin/systemctl stop nginx
        eval_cmd_exec $? "state:${STATE}, failed to stop nginx service"
        echo "[$(date)] -- INFO  -- state:${STATE}, nginx service stopped"
}
 
usage()
{
        syslog "state:${STATE}, notification for unknown state"
        exit 1
}
 
##############################################
###############  MAIN  #######################
##############################################
 
if [[ $# -ne 4 ]]; then
        echo "[$(date)] -- ERROR -- undefined usage args:$@"
        usage
fi
 
TYPE=$1
NAME=$2
STATE=$3
PRIO=$4
 
echo "[$(date)] -- INFO  -- Notification recieved with TYPE=${TYPE} NAME=${NAME} STATE=${STATE} PRIORITY=${PRIO}"
 
case "${STATE}" in
        MASTER)
                start_nginx
                ;;
        BACKUP|FAULT)
                stop_nginx
                ;;
        *)
                usage
                ;;
esac
