#(C) Copyright [2020] Hewlett Packard Enterprise Development LP
#
#Licensed under the Apache License, Version 2.0 (the "License"); you may
#not use this file except in compliance with the License. You may obtain
#a copy of the License at
#
#    http:#www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#License for the specific language governing permissions and limitations
# under the License.
name: build_unittest

on:
  pull_request:
    branches:
      - '**'

jobs:

  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:

    - name: Set up Go 1.17.2
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.2
      id: go

    - name: Setup Redis
      run: |
        sudo apt-get install -y build-essential
        wget -c http://download.redis.io/releases/redis-6.2.6.tar.gz -P /var/tmp
        sudo tar -C /var/tmp -xzf /var/tmp/redis-6.2.6.tar.gz
        cd /var/tmp/redis-6.2.6
        sudo make install
        sudo sed -i 's/if \[ \"\${_pid_1_exe\#\#\*\/}\" = systemd \]/if false/' utils/install_server.sh
        sudo utils/install_server.sh << HERE
        
        
        
        
        
        
        
        HERE
        echo `sudo /etc/init.d/redis_6379 status`
        sudo utils/install_server.sh << HERE
        6380
        
        
        
        
        
        
        HERE
        echo `sudo /etc/init.d/redis_6380 status`
        sleep 10s
        
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: Generate proto modules
      run: |
          export GOPATH=/home/runner/go
          PROTOC_ZIP=protoc-3.19.1-linux-x86_64.zip
          curl -OL https://github.com/google/protobuf/releases/download/v3.19.1/$PROTOC_ZIP
          sudo unzip -o $PROTOC_ZIP -d /usr/local bin/protoc
          sudo unzip -o $PROTOC_ZIP -d /usr/local include/*
          rm -f $PROTOC_ZIP

          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.1.0
          go install github.com/golang/protobuf/protoc-gen-go@v1.3.2
          sudo cp $GOPATH/bin/protoc-gen-go /usr/bin
          sudo cp $GOPATH/bin/protoc-gen-go-grpc /usr/bin
          protos=("account" "aggregator" "auth" "chassis" "events" "fabrics" "managers" "role" "session" "systems" "task" "telemetry" "update" "compositionservice" "licenses")
          for str in ${protos[@]}; do
            proto_path="$(pwd)/lib-utilities/proto/$str"
            proto_file_name="$str.proto"
            if [ $str == 'auth' ]
            then
              proto_file_name="odim_auth.proto"
            fi
            if [ $str == 'compositionservice' ]
            then
              proto_file_name="composition_service.proto"
            fi
            sudo protoc --go_opt=M$proto_file_name=./ --go_out=plugins=grpc:$proto_path --proto_path=$proto_path $proto_file_name
          done

    - name: setup python dependencies
      run: |
          sudo apt-get -y install python3 python3-venv python3-dev python3-pip python3-pytest redis-tools
          python3 -m pip install --upgrade pip
          sudo pip3 install redis==3.3.8 grpcio==1.42.0 grpcio-tools==1.42.0 protobuf==3.19.1 tenacity==8.0.1 etcd3==0.12.0

    - name: Generate python proto modules
      run: |
          protos=("auth" "compositionservice")
          for str in ${protos[@]}; do
            proto_path="$(pwd)/lib-utilities/proto/$str"
            proto_out_path="$(pwd)/svc-composition-service/app/proto/$str" 
            proto_file_name="$str.proto"
            if [ $str == 'auth' ]
            then
              proto_file_name="odim_auth.proto"
            fi
            if [ $str == 'compositionservice' ]
            then
              proto_file_name="composition_service.proto"
            fi
            python3 -m grpc_tools.protoc -I$proto_path --python_out=$proto_out_path --grpc_python_out=$proto_out_path $proto_file_name

            proto_grpc_file_name="${proto_file_name/.proto/"_pb2_grpc.py"}"
            protoc_pb2_name="${proto_file_name/.proto/"_pb2"}"
            proto_grpc_file=$proto_out_path/$proto_grpc_file_name
            if [[ -f "$proto_grpc_file" ]]; then
              sed -i 's/import '$protoc_pb2_name'/import proto.'$str'.'$protoc_pb2_name'/gI' $proto_grpc_file
            fi
          done 

    - name: Build
      run: |
          LIST=`ls | grep -v 'lib-rest-client' | grep -E '^svc-|^plugin-|^odimra'`
          for i in $LIST; do
            echo "Compiling $i"
            cd $i
            if [[ "$i" == "svc-composition-service" ]]; then
              /bin/bash build.sh
              cd ..
              continue
            fi
            go mod download
            go mod vendor
            go build -i .
            if [ $? -eq 0 ]; then
              echo Build for odimra service/lib dependencies $i are Successful !!!!
              arr1+=$i;
            else
              echo Build for odimra service/lib dependency $i Failed !!!!
              arr2+=$i;
              flag=0
            fi
            cd ..
          done
          		  
    - name: Test
      run: |
          redis-cli -p 6380 << HERE
          set roles:redfishdefined '{"List":["Administrator", "Operator", "ReadOnly"]}'
          HERE
          echo "-----" 
          echo `redis-cli -p 6380 << HERE
          keys *
          HERE`
          LIST="plugin-redfish plugin-dell plugin-lenovo svc-aggregation svc-events svc-fabrics svc-telemetry svc-managers svc-task svc-systems svc-api svc-account-session svc-update svc-composition-service svc-licenses lib-utilities lib-messagebus"
          echo $LIST
          for i in $LIST; do
            echo "Testing $i"
            cd $i
            if [[ "$i" == "svc-composition-service" ]]; then
              cd app
              python3 -m pytest
              cd ..
            else
              GORACE=history_size=7 go test ./... --cover
            fi
            
            echo "Test Done"
            if [ $? -eq 0 ]; then
              echo Unit Testing for odimra service/lib dependencies $i is Successful !!!!
              arr1+=$i;
            else
              echo Testing for odimra service/lib dependency $i Failed !!!!
              arr2+=$i;
              flag=0
            fi
            cd ..
          done
